header{
    padding: 20px;
    background-color: #000;
    font-family: 'Limelight', cursive;
    color: white;
    text-align: center;
}
h1{
    display: inline;
    text-align: center;
    font-size: 30px;
}
nav{
    display: none;
}
footer{
    padding: 15px;
    background-color: #000;
    font-family: 'Limelight', cursive;
    font-size: 15px;
    color: white;
}
#date{
    display:none
}
#search-box{
    display: none;
}
.highlight-news{
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
}
.main-news-container{
    display: flex;
    flex-direction: column;
}
.highlight-img{
    width: 100%;
}
.highlight-title{
    position: absolute;
    bottom: 15px;
    left: 5px;
    padding: 5px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: white;
}
.main-news{
    display: flex;
    padding: 5px 0 5px;
}
.main-img{
    flex: 30%;
    align-self: center;
    width: 30%;
}
.main-title-description{
    display: flex;
    flex-direction: column;
    flex: 70%;
    justify-content: space-around;
}
.main-title{
    padding: 0px 5px;
    font-family: 'PT Serif', serif;
}
.main-description{
    padding: 0px 5px;
    font-family: 'Piazzolla', serif;
}
.advertising{
    border: 10px solid #f00;
}
.secondary-news-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.secondary-news{
    border-bottom: 2px solid #888;
}
.secondary-title{
    font-family: 'PT Serif', serif;
    padding: 20px 5px 5px 5px;
}
.secondary-description{
    font-family: 'Piazzolla', serif;
    padding: 5px 15px 20px 10px;
}
@media only screen and (min-width: 768px){
    nav{
        display: block;
    }
    #date{
        display: inline;
    }
    #search-box{
        display: inline;
    }
}