header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    font-family: 'Limelight', cursive, Verdana, Geneva, sans-serif;
    color: white;
}
h1{
    font-size: 30px;
}
nav{
    display: none;
    background-color: #888;
    font-family: 'Limelight', cursive, Verdana, Geneva, sans-serif;
    color: white;
    padding: 10px;
}
footer{
    padding: 15px;
    background-color: #000;
    font-family: 'Limelight', cursive;
    font-size: 15px;
    color: white;
}
#date{
    display:none;
    font-family: 'Piazzolla', serif, Verdana, Geneva, sans-serif;
}
.search-container{
    display: flex;
    align-content: center;
}
#search-box{
    display: none;
    width: 90px;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
}
.main-news-container{
    display: flex;
    flex-direction: column;
}
.highlight-news{
    position: relative;
}
.highlight-img{
    width: 100%;
}
.highlight-title{
    position: absolute;
    bottom: 15px;
    left: 5px;
    padding: 5px;
    font-family: 'PT Serif', serif, Verdana, Geneva, sans-serif;
    font-size: 20px;
    color: white;
}
.main-news{
    display: flex;
    padding: 5px 0 5px;
    margin-bottom: 10px;
}
.main-img{
    flex: 30%;
    align-self: center;
    width: 30%;
}
.main-title-description{
    display: flex;
    flex-direction: column;
    flex: 70%;
    justify-content: center;
}
a.title-link{
    color: #000;
    text-decoration: none;
}
a.title-link:hover{
    text-decoration: underline;
}
.main-title{
    padding: 0px 5px 5px 5px;
    font-family: 'PT Serif', serif, Verdana, Geneva, sans-serif;
}
.main-description{
    padding: 0px 5px;
    font-family: 'Piazzolla', serif, Verdana, Geneva, sans-serif;
}
.advertising{
    border: 10px solid #f00;
}
.secondary-news-container{
    display: flex;
    flex-direction: column;
}
.secondary-news{
    display: flex;
    align-items: center;
    flex: 16%;/*To distribute the elements across the height of the webpage*/
    border-bottom: 2px solid #888;
}
.secondary-news h4{
    font-family: 'PT Serif', serif;
    padding: 10px;
}
@media only screen and (min-width: 768px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    #date{
        display: inline;
    }
    #menu-icon{
        display: none;
    }
    #search-box{
        display: inline;
    }
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-news-container{
        flex: 70%;
    }
    .secondary-news-container{
        flex: 30%;
        order: 1;
    }
    .advertising{
        flex: 100%;
        order: 2;
    }
}
@media only screen and (min-width: 1024px){
    .main-news-container{
        flex: 50%;
    }
    .secondary-news-container{
        flex: 30%;
        order: 1;
    }
    .advertising{
        flex: 10%;/*With 20% the 3 elements don't fit in the width*/
        order: -1;
    }
}